<%- include('partials/blogHeader'); -%>
<div class="container">
	<div class="row justify-content-center topPadding">
		<div class="col-sm-12 col-md-6">
			<div class="card">
				<h1 class="card-header forgot-gradient text-center py-4">Forgot Password</h1>
				<div class="card-body px-lg-5 pt-0">
					<form action="/forgot" method="POST">
						<div class="mod-form">
							<input class="form-control" type="email" name="email" placeholder="Email" autofocus="autofocus" required>
						</div>
						<div class="mod-form">
							<input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="Reset Password">
						</div>
					</form>
					<a href="/login">Login Page</a>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('partials/blogFooter'); -%>