<%- include('partials/header'); -%>

<div class="container">
	<div class="row justify-content-center topPadding">
		<div class="col-sm-12 col-md-6">
			<div class="card">
				<h1 class="card-header shampoo-gradient text-center py-4">Login</h1>
				<div class="card-body px-lg-5 pt-0">
					<form action="/login" method="POST">
						<div class="mod-form">
							<input class="form-control" type="text" name="username" placeholder="Username" autofocus="autofocus" required>
						</div>
						<div class="mod-form">
							<input class="form-control" type="password" name="password" placeholder="Password" required>
						</div>
						<div class="mod-form">
							<button class="btn btn-outline-dark btn-lg btn-block">Login</button>
						</div>
					</form>
					<a href="/posts">Go Back</a>
					<a class="forgot" href="/forgot">Forgot Password?</a>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer'); -%>