/*START*/
/*enabled footer to rest at bottom of page*/

body {
	font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	position: relative;
	color: #191919;
	background-color: #edf2f7
}

body,
html {
	width: 100%;
	height: 100%
}

h1 {
	font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase
}

h2 {
	font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 900;
	margin-top: 25px;
	text-transform: uppercase
}

h3 {
	font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #e1a87a;
	font-weight: 900;
	margin: 0 0 25px 0;
	letter-spacing: .12em;
	line-height: 1.6em;
	text-transform: uppercase
}

h4 {
	font-size: 1.5rem;
	line-height: 1.2;
	margin-top: 0;
}

h5 {
	font-size: 0.83em;
	margin-bottom: 0.5rem;
	line-height: 1.2;
	margin-top: 0;
}

a {
	transition: all .3s ease-in-out
}

a:focus,
a:hover {
	text-decoration: none
}

p {
	margin-top: 16px;
}

.cucumber-gradient {
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.mellowYellow-gradient {
	background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

.lemonade-gradient {
	background: linear-gradient(40deg, rgba(255,255,224,1) 0%, rgba(254,255,97,1) 100%);
}

.shampoo-gradient {
    background: linear-gradient(40deg,#FFFFE0,#FDCFF3) !important;
}

.stPat-gradient {
	background: linear-gradient(40deg, rgba(255,255,224,1) 0%, rgba(97,255,131,1) 100%) !important;
}

.forgot-gradient {
	background: -webkit-linear-gradient(310deg, rgba(255,255,224,1) 0%, rgba(255,97,97,1) 100%) !important;
	background: -moz-linear-gradient(310deg, rgba(255,255,224,1) 0%, rgba(255,97,97,1) 100%) !important;
	background: -o-linear-gradient(310deg, rgba(255,255,224,1) 0%, rgba(255,97,97,1) 100%) !important;
	background: linear-gradient(40deg, rgba(255,255,224,1) 0%, rgba(255,97,97,1) 100%) !important;
}

.btn.shampoo-gradient {
	color: #40434E
}

.container-fluid {
	padding: 65px 35px 0 35px;
}

.btn.focus, .btn:focus {
	box-shadow: none;
}

.imgShadow {
	-webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;
	box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important
}

.golden {
	color: #e1a87a
}

.fab {
	transition: all .3s ease-out
}

.fab:focus,
.fab:hover {
	color: #e1a87a;
	transition: all .3s ease-in-out
}

.alert {
	position: fixed;
}

.navIndex {
	z-index: 1070;
}

.topPadding {
	padding-top: 4rem
}

@media (min-width: 992px) {
	.topPadding {
		padding-top: 10rem
	}
}

hr {
	height: 2px;
	width: 150px;
	background-color: #191919;
	margin-bottom: 25px;
	margin-top: 25px;
}

#mainNav {
	font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1rem;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); */
    transition: all 1.2s;
	background-color: rgb(237, 242, 247);
	text-transform: uppercase;
}

.scrollUp {
    transform: translateY(-92px);
}

#mainNav .nav-link {
    color: #191919;
}

#mainNav .nav-link:hover {
    color: #e1a87a;
}

#mainNav button {
    border: none;
}

.wrapper-menu {
  width: 30px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #e1a87a;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

#mainNav .navbar-brand {
	color: #e1a87a;
}

.jumbotron {
	background-color: #40434E;
	color: lightyellow;
	padding: 2rem 1rem
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.jumbotron {
		width: 75%;
		margin: 50px auto
	}
}

 /* Extra large devices (X-large desktops, 1700px and up) */
@media (min-width: 1700px) {
	.jumbotron {
		width: 50%;
		margin: 50px auto
	}
}

/* Cards */

.card.card-overlay.slender {
	margin-top: 1.25rem;
}

.card {
	font-weight: 400;
	border: 0;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card.card-overlay.slender .view.view-overlay {
	margin-top: -1.25rem;
    margin-right: 4%;
    margin-left: 4%;
}

.card.card-overlay .view.view-overlay {
	border-radius: .25rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.card-background {
	background-color: floralwhite
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view img {
	position: relative;
    display: block;
}

.card-img-top {
	border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
	-ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}

.card-title {
    margin-bottom: .75rem;
}

.card-body {
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
}

/* Forms */

.mod-form {
	position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mod-form .form-control {
    height: auto;
    padding: .6rem 0 .4rem 0;
    margin: 0 0 .5rem 0;
    background-color: transparent;
    border-radius: 0;
}

.mod-form input:not([type]), .mod-form input[type="text"]:not(.browser-default), .mod-form input[type="password"]:not(.browser-default), .mod-form input[type="email"]:not(.browser-default), .mod-form input[type="url"]:not(.browser-default), .mod-form textarea.mod-textarea {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

/* Posts Show Page */

.list-icon {
	position: absolute;
	border-left: 1px solid rgba(0,0,0,.125);
	height: 50px;
	top:0px;
	left:54px;
}

.form {
    margin: 25px auto;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 30px;
}

/* User Profile Page */

.profileImg img {
	width: 250px;
	margin-top: -130px;
	border: 5px solid #FFF;
	border-radius: 50%
}

.profilePad {
	padding-bottom: 7rem;
	padding-top: 7rem
}

.postList {
	list-style: none;
	padding: 0;
	margin: auto;
	width: 12rem;
}

.delete-form {
    display: inline;
}

.forgot {
    float: right;
}

.buffer {
    margin-bottom: 20px;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.footer-copyright a {
	color: #191919;
}

.backButton {
    margin: 20px;
	background: linear-gradient(40deg, rgba(255,255,224,1) 0%, rgba(234,212,255,1) 100%);
}