<%- include('../partials/header'); -%>

   	<div class="container">
        <div class="row col-sm-12 col-md-4 col-md-offset-4 row">
            <h1 id="titleForm">Create a New Post</h1>
            <div class="form">
                <form action="/posts" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name" placeholder="Name">
                    </div>
					                    <div class="form-group">
                        <label for="image">Image</label>
                        <input class="form-control" type="text" name="image" id="image" placeholder="Image URL">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control" type="text" name="description" id="description" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label for="entry">Post Entry</label>
						<textarea class="form-control" name="entry" id="entry" rows="4" placeholder="Post Entry..."></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
                </form>
                <a href="/posts">Go Back</a>
            </div>
        </div>
   </div>


<%- include('../partials/footer'); -%>